[Unit]
Description=Gifs server
Wants=network-online.target docker.socket
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=%h/.gifs
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0

[Install]
WantedBy=default.target
