[Unit]
Description=Nextcloud desktop user service
Documentation=https://docs.nextcloud.com/desktop/latest/
Wants=network-online.target

[Service]
ExecStart=%h/.local/bin/nextcloud --background
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
