[Unit]
Description=Gnome Polkit Authentication
Documentation=man:polkit(8)

[Service]
{{- if and (index .chezmoi.osRelease "idLike") (eq .chezmoi.osRelease.idLike "debian") }}
ExecStart=/usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1
{{- else }}
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
{{- end }}

[Install]
WantedBy=default.target
# vim: set ts=4 sw=4 tw=0 noet ft=systemd :
