#
# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
bar {
    id default
    swaybar_command {{ .chezmoi.homeDir }}/.config/waybar/waybar.sh
    position top
}
#  vim: set ts=4 sw=4 tw=0 et ft=swayconfig :
