* {
  base: #1e1e2e;
  surface0: #313244;
  surface1: #45475a;
  surface2: #585b70;
  text: #cdd6f4;
  subtext1: #bac2de;
  red: #f38ba8;
  yellow: #f9e2af;
  gray: #6c7086;

  /* Catppuccin Mocha colors */
  background-color: var(base);
  text-color: var(subtext1);
  selbg: var(yellow);
  actbg: var(surface0);
  urgbg: var(red);
  winbg: var(text);
  border-color: var(gray);
}

@import "common"
