{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "name" -}}
{{- end -}}

[data]
	email = {{ $email | quote }}
	name = {{ $name | quote }}

[age]
	identity = "{{ .chezmoi.homeDir }}/.age-key.txt"
	recipient = "age18hmxlg3q2nu4krgzyl9tyz0zvr9x8pj3ufqg5xcxskmmnnsp8yrqxh7v3c"

[diff]
	pager = "diff-so-fancy | less --tabs=4 -RFX"
	exclude = ["externals"]
