dot_config/wallpapers/the_blue_ocean_by_dreamliner076_de26bg2.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/triumph-tiger-sunset.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/tux.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/among_trees___sunset_by_dadaws_de0uthg.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/locker.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/triumph-tiger.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/tux_gruvboxed.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/volley-ball.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/moodyblue_stock_60_by_moodyblue_ddur1jf.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/moodyblue_stock_62_by_moodyblue_de07pdk.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/tux_gruvboxed.xcf filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/tux_eyes.xcf filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/tux_eyes_gruvboxed.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/tux_eyes_gruvboxed_fractal_breaking_glass.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/tux_eyes_gruvboxed_fractal.png filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/tux_eyes_1920x1080.xcf filter=lfs diff=lfs merge=lfs -text
dot_config/wallpapers/wallhaven-k77jym.jpg filter=lfs diff=lfs merge=lfs -text
. text !filter !merge !diff
