in_chroot() {
	[[ "$(ls -di /)" != "2 /" ]] && return 0 || return 1;
}

if [ -d "$HOME/.local/bin" ]; then
	export PATH="$HOME/.local/bin:$PATH"
fi

# set path so it includes pyenv
if [ -d "$HOME/.pyenv" ] && ! in_chroot; then
	export PATH="$HOME/.pyenv/bin:$PATH"
	eval "$(pyenv init --path)"
fi

# set path so it includes npm
if [ -d "$HOME/.npm-packages/bin" ]; then
	export PATH="$HOME/.npm-packages/bin:$PATH"
fi

# set path so it includes cargo binaries (Rust)
if [ -f "$HOME/.cargo/env" ]; then
	. "$HOME/.cargo/env"
fi

{{ if eq .chezmoi.hostname "freebsd" -}}
# Arcanist
if [ -d "$HOME/.local/arcanist/" ]; then
	export PATH="$PATH:$HOME/.local/arcanist/bin/"
fi

# Coverity
if [ -d "$HOME/.local/coverity/" ]; then
	export PATH="$PATH:$HOME/.local/coverity/bin/"
fi
{{- end }}
