#! /bin/bash

OS="{{- .chezmoi.os }}"
DISTRIB_ID="{{- .chezmoi.osRelease.id }}"

if [[ "${OS}" == "freebsd" ]] || [[ "${DISTRIB_ID}" == "void" ]]; then
	return 0;
fi

for i in "dunst"; do
	systemctl --user enable --now "${i}.service"
done
# vim: set ts=4 sw=4 tw=0 noet ft=sh :
