#! /usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "manjaro" -}}
# Refresh packages list
sudo pacman -Syyu

# Install my package
sudo pacman -Sy \
    age \
    alacritty \
    bat \
    bottom \
    chezmoi \
    feh \
    firefox \
    htop \
    i3-gaps \
    pyenv \
    rofi \
    npm \
    neovim
{{   else if eq .chezmoi.osRelease.id "ubuntu" -}}
# Add PPAs
sudo add-apt-repository -ny ppa:neovim-ppa/stable
sudo add-apt-repository -ny ppa:git-core/ppa
sudo add-apt-repository -ny ppa:yubico/stable

# Refresh packages list
sudo apt-get update

# Install packages
sudo apt-get install -y \
    yubikey-manager yubikey-personalization-gui libpam-yubico libpam-u2f \
    meld \
    git git-lfs \
    neovim
{{   end -}}
{{ end -}}

{{ if eq .chezmoi.os "freebsd" -}}
# Refresh packages list
sudo pkg update

# Install packages
sudo pkg install -y \
    age \
    chezmoi \
    tshark \
    neovim \
    tree \
    git-lfs \
    npm
{{ end -}}

# Install diff-so-fancy
npm install -g diff-so-fancy

# Install LSP Servers
npm install -g pyright                       # Pyright
npm install -g bash-language-server          # Bash
npm install -g vscode-langservers-extracted  # HTML / JSON / CSS / Eslint

# vim: set ts=4 sw=4 tw=0 et ft=sh :
