#! /bin/bash

OS="{{- .chezmoi.os }}"
DISTRIB_ID="{{- .chezmoi.osRelease.id }}"

case "${OS}-${DISTRIB_ID}" in
	"linux-ubuntu"|"linux-manjaro")
		SERVICES=("dunst" "spotifyd")
		for sv in "${SERVICES[@]}"; do
			systemctl --user enable --now "${sv}.service"
		done
		;;
    *)
        echo "Unsupported OS-distribution: '${OS}-${DISTRIB_ID}'"
        ;;
esac

# vim: set ts=4 sw=4 tw=0 noet ft=sh :
