@import "{{ .chezmoi.homeDir }}/.config/wofi/gruvbox.css";

@define-color selected-normal-foreground   @winbg;
@define-color normal-foreground            @text-color;
@define-color alternate-normal-foreground  @text-color;
@define-color selected-normal-background   @actbg;
@define-color normal-background            @background-color;
@define-color alternate-normal-background  @background-color;

@define-color selected-urgent-foreground   @background-color;
@define-color urgent-foreground            @text-color;
@define-color alternate-urgent-foreground  @text-color;
@define-color selected-urgent-background   @urgbg;
@define-color urgent-background            @background-color;
@define-color alternate-urgent-background  @background-color;

/* Theme colors */
@define-color background                   @background-color;
@define-color foreground                   @text-color;
@define-color separatorcolor               @border-color;
@define-color scrollbar-handle             @border-color;

@define-color selected-active-foreground   @winbg;
@define-color active-foreground            @text-color;
@define-color alternate-active-foreground  @text-color;
@define-color selected-active-background   @actbg;
@define-color active-background            @selbg;
@define-color alternate-active-background  @selbg;

/* vim: set ts=4 sw=4 tw=0 noet ft=css :*/
