[user]
name = {{ .name | quote }}
email = {{ .email | quote }}

[include]
path = themes
# Should contain private informations
path = local ; find "local" relative to the current file

[core]
pager = delta
editor = nvim
attributesFile = ~/.config/git/attributes

[interactive]
diffFilter = delta --color-only

[delta]
features = gruvmax-fang
side-by-side = true
navigate = true

[color]
ui = true

[color "diff"]
meta = 11
frag = magenta bold
commit = yellow bold
old = red bold
new = green bold
whitespace = red reverse

[grep]
lineNumber = true

[merge]
tool = meld
conflictstyle = diff3

[alias]
lg = log --color --graph --pretty=logger --abbrev-commit
rl = reflog --pretty=reflog

[pretty]
logger = %C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)
# reflog, with relative date:
reflog = %C(auto)%h %<|(17)%gd %C(blue)%ci%C(reset) %gs

[fetch]
# If true, fetch will automatically behave as if the --prune option was given on the command line.
# See also remote.<name>.prune and the PRUNING section of git-fetch[1].
prune = true
pruneTags = true
# Specifies the maximal number of fetch operations to be run in parallel at a time (submodules, or remotes when
# the --multiple option of git-fetch[1] is in effect).
# A value of 0 will give some reasonable default. If unset, it defaults to 1.
parallel = 0

[push]
followTags = true

[mergetool "vimdiff"]
path = nvim

[stash]
showPatch = true

[rebase]
stat = true
autoStash = true

[diff "bin"]
# Allow files following the diff=bin (defined in .git.config/attributes) to be correctly differenciate
binary = true
textconv = hexdump -C

[diff "pcap"]
# Allow files following the diff=pcap (defined in .git.config/attributes) to be correctly differenciate
binary = true
textconv = tshark -x -V -P -r

[init]
defaultBranch = main

[diff]
tool = meld

;  vim: set ts=4 sw=4 tw=0 et ft=gitconfig :
