[Desktop Entry]
Name=Spotify TUI
GenericName=Spotify Client in terminal
TryExec=spt
Exec=spt
Terminal=true
Type=Application
Keywords=Audio;Player;
Icon=spotify
Categories=Utility;Audio;
StartupNotify=false
