## Default Mako Config
ignore-timeout=0
default-timeout=10000
max-visible=7

margin=20
padding=8
width=400
font=Iosevka Nerd Font Mono 9
border-size=1
background-color=#1e1e2e
text-color=#cdd6f4
border-color=#89b4fa
border-radius=5
progress-color=over #313244
icons=1
max-icon-size=32
icon-location=right
format=<b>%s</b>\n%b
anchor=top-right
text-alignment=left

icon-path={{ .chezmoi.homeDir }}/.local/share/icons/Papirus

[urgency="high"]
border-color=#fab387

[urgency="critical"]
border-color=#f38ba8
ignore-timeout=1

[app-name="Spotify"]
background-color=#191414
text-color=#ffffff
border-color=#1db954

[mode=do-not-disturb]
invisible=1

# vim: ft=cfg
