* {
  base: #1e1e2e;
  surface0: #313244;
  surface1: #45475a;
  surface2: #585b70;
  text: #cdd6f4;
  subtext1: #bac2de;
  red: #f38ba8;
  yellow: #f9e2af;
  gray: #6c7086;

  /* Catppuccin Mocha colors */
  background-color: @base;
  text-color: @subtext1;
  selbg: @yellow;
  actbg: @surface0;
  urgbg: @red;
  winbg: @text;
  border-color: @gray;
}

@import "common"
